:root {
  --background-primary: #adc178;
  --background-secondary: #f0ead2;
  --background-tertiary: #dde5b6;
  --background-quaternary: #a98467;
  --color-primary: #6c584c;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: "quicksand", sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  background-color: var(--background-primary);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding-right: 3%;
}

.header_logo {
  display: flex;
  padding: 0 0 0 30px;
}

.header_image {
  height: auto;
  width: 100%;
  background-color: var(--background-tertiary);
}

.navigation {
  display: flex;
  flex-direction: row;
}

.nav_move {
  animation: moveOver forwards;
}

.nav_move_back {
  animation: moveBack forwards;
}

.nav_button {
  background-color: var(--background-primary);
  color: var(--color-primary);
  padding: 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

.active_nav {
  font-weight: 600;
}

.hamburger_menu {
  display: none;
  fill: var(--background-secondary);
  position: fixed;
  right: 38px;
  padding: 6px;
  cursor: pointer;
  transition: all .4s;
  border-radius: 40px;
}

.hamburger_menu:hover {
  background-color: var(--background-secondary);
  fill: var(--color-primary);
}

.search_container {
  height: fit-content;
  width: fit-content;
  margin: 18px 3%;
  padding: 0 10px;
  background-color: var(--background-secondary);
  opacity: .7;
  border-radius: 18px;
  display: flex;
  align-items: center;
  transition: all .4s;
}

.search_container:focus-within,
.search_container:hover {
  opacity: .9;
  transform: scale(1.08)
}

.search {
  width: 28px;
  height: 28px;
  stroke: var(--color-primary);
  padding: 4px;
  cursor: pointer;
  transition: inherit;
}

.search:hover {
  transform: scale(1.1);
}

.search_box {
  width: 165px;
  margin: 4px;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  font-family: "quicksand", sans-serif;
  outline: none;
}

.background_image {
  background-image: url(../images/background_image.avif);
  background-color: var(--background-secondary);
  background-size: cover;
  height: 60vh;
  background-position: 50% 25%;
  display: flex;
  flex-direction: row-reverse;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main_content {
  background-color: white;
  color: var(--color-primary);
  display: flex;
  height: 100%;
  padding: 2rem;
  gap: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 28px;
  color: var(--color-primary);
  text-align: center;
  background-color: white;
  border: var(--background-tertiary);
  border-style: solid;
  margin: 16px;
  border-radius: 20px;
}

.animal_group,
.sidebar_item {
  margin: 0;
  padding: 9px 5px;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;
  transition: all .4s;
}

.sidebar_item:hover,
.animal_item:hover {
  transform: scale(1.06);
}

.welcome_container {
  display: flex;
  flex-direction: column;
}

.animal_item {
  font-size: 1.2rem;
  text-align: left;
  cursor: pointer;
  transition: all .4s;
  padding: 5px 3px;
}

.animal_img {
  width: 500px;
  height: 500px;
  object-fit: contain;
  object-position: center;
}

.page_link {
  text-decoration: none;
  text-decoration: underline;
  color: var(--color-primary);
}

.active_item {
  text-decoration: underline;
}

.container_text {
  font-size: 1.5rem;
  padding: 8px;
}

.footer {
  color: var(--background-secondary);
  text-align: center;
  padding: 16px;
}

@keyframes moveOver {
  from {
    transform: translateX(46vw);
  } to {
    transform: translateX(0);
  }
}
@keyframes moveBack {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(46vw);
  }
}

@media (width < 900px) {

  .header {
    height: 10%;
    padding: 0;
    position: fixed;
    top: 0;
  }

  .header_logo {
    transform: scale(.7);
    padding: 0;
  }

  .navigation {
    border-top: var(--background-tertiary) solid 1px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    right: 0;
    background: linear-gradient(to bottom, var(--background-primary), var(--background-tertiary));
    height: 90vh;
    width: 46vw;
  };

  .nav_move {
    animation: moveOver .4s forwards cubic-bezier(0.5, 1, 0.4, 1.2);
  }

  .nav_move_back {
    animation: moveBack .3s forwards;
  }

  .nav_button {
    background-color: transparent;
    text-align: left;
    font-size: 1.4rem;
    width: 100%;
    transition: all .4s;
  }

  .nav_button:hover{
    background-color: var(--background-tertiary);
  }

  .hamburger_menu {
    display: block;
  }

  .search_container {
    display: none;
  }

  main {
    margin-top: 10vh;
  }

  .main_content {
    gap: none;
    display: block;
    padding: 0;
  }

  .sidebar {
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    margin: 0;
    border: none;
    background: linear-gradient(to right, var(--color-primary), var(--background-quaternary));
    border-radius: 0;
    color: var(--background-secondary);
  }

  .sidebar_item, 
  .animal_item {
    padding: 1rem .6rem;
    font-size: clamp(1.1rem,4.4vw, 1.7rem);
    height: 100%;
    width: clamp(9rem, 12vw, 20rem);
    border-radius: 8px;
    text-align: center;
    margin: 0 2px;
  }

  .sidebar_item:hover {
    background-color: var(--background-secondary);
    color: var(--color-primary);
    transform: none;
  }
  
}