:root {
  --background-primary: #adc178;
  --background-secondary: #f0ead2;
  --background-tertiary: #dde5b6;
  --background-quaternary: #a98467;
  --color-primary: #6c584c;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: "quicksand", sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  background-color: var(--background-primary);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  display: inline-block;
  display: flex;
  padding: 0 0 0 30px;
}

.header_image {
  height: auto;
  width: 100%;
  background-color: var(--background-tertiary);
}

.navigation {
  display: flex;
  flex-direction: row;
  padding: 0 3% 0 0;
}

.nav_button {
  background-color: var(--background-primary);
  color: var(--color-primary);
  padding: 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

.active_nav {
  font-weight: 600;
}

.search_container {
  height: fit-content;
  width: fit-content;
  margin: 18px 3%;
  padding: 0 10px;
  background-color: var(--background-secondary);
  opacity: 0.7;
  border-radius: 18px;
  display: flex;
  align-items: center;
  transition: all 0.4s;
}

.search_container:focus-within,
.search_container:hover {
  opacity: 0.9;
  transform: scale(1.08);
}

.search {
  width: 28px;
  height: 28px;
  stroke: var(--color-primary);
  padding: 4px;
  cursor: pointer;
  transition: inherit;
}

.search:hover {
  transform: scale(1.1);
}

.search_box {
  width: 165px;
  margin: 4px;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  font-family: "quicksand", sans-serif;
  outline: none;
}

.background_image {
  background-color: var(--background-secondary);
  background-size: cover;
  height: 40vh;
  background-position: 50% 25%;
  display: flex;
  flex-direction: row-reverse;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main_content {
  background-color: white;
  color: var(--color-primary);
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 28px;
  color: var(--color-primary);
  text-align: center;
  background-color: white;
  border: var(--background-tertiary);
  border-style: solid;
  margin: 16px;
  border-radius: 20px;
  width: 300px;
}

.animal_group,
.sidebar_item {
  margin: 0;
  padding: 9px 5px;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;
  transition: all 0.4s;
}

.sidebar_item:hover,
.animal_item:hover {
  transform: scale(1.06);
}

.welcome_container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  background-color: var(--background-secondary);
  background-size: cover;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 80%;
  inset: 8%;
  border-radius: 16px;
}

h1 {
  font-size: 2rem;
}

.intro_text {
  text-align: center;
  font-size: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.animal_item {
  font-size: 1.2rem;
  text-align: left;
  cursor: pointer;
  transition: all 0.4s;
  padding: 5px 3px;
}

.animal_img {
  object-fit: contain;
  object-position: center;
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.page_link {
  text-decoration: none;
  text-decoration: underline;
  color: var(--color-primary);
  display: block;
}

.active_item {
  text-decoration: underline;
}

.container_text {
  font-size: 1.5rem;
  padding: 8px;
  margin: 0;
}

.highlight {
  background-color: yellow;
}

.Btn {
  background-color: var(--background-tertiary);
  color: var(--color-primary);
  display: block;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;

  padding: 15px 42px;
  border-radius: 12px;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.footer {
  color: var(--background-secondary);
  text-align: center;
  padding: 16px;
}
